@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.MisActividadesPreescolar>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clublia-Login</title>
    <link href="/bcss/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/misActividades.css">
</head>

<body style="background-image: url('../assets/home/BackgroundPreescolar.png');">

    <div class="header float-animation">

        <a class="btn-actividades" href="../HomePreescolar/">
            <img src="../assets/home/explorer2.png" class="btn-actividades-img" alt="Isla">
            <h5>Mis actividades</h5>
        </a>

        <div class="avatar">
            <img class="avatar-img" src="../assets/images/avatars/bootFace.png" alt="Avatar">
        </div>

        <div class="user">
            <div class="user-img">
                <h6 id="userName">Usuario</h6>
            </div>
            <div class="user-img">
                <h6 id="grade">Grado</h6>
            </div>
            <div class="user-img">
                <h6 id="schoolName">Escuela</h6>
            </div>

        </div>
        <a href="#">
            <img src="/assets/home/logoutLia.png" class="btn-logout" alt="" id="logout-btn">
        </a>

    </div>

    <div class="contenedor">

        <div class="islas">

            <a href="#" class="isla">
                <img src="../assets/home/islaMundoLIA.png" class="isla-img" alt="Isla">
                <h6>Mi Mundo Lia</h6>
            </a>

            <a href="#" class="isla">
                <img src="../assets/home/artes2.png" class="isla-img" alt="Isla">
                <h6>Mis Clases</h6>
            </a>

        </div>

        <div class="table-actividades" id="tabla-actividades-pendientes">

            <div class="header-contenedor">
                <div class="header-table">
                    <h6 class="header-table-title">Actividades Pendientes</h6>
                </div>
            </div>

            <div class="table-actividades-body">

                <div class="registros-actividades" id="registros-actividades-pendientes">

                    <div class="registro-actividad" id="actividades-pendientes-body-mensaje">
                        <h6 id="actividades-pendientes-body-mensaje-text">Cargando...</h6>

                    </div>
                   
                </div>

            </div>

        </div>

        <div class="table-actividades" id="actividades-entregadas">

            <div class="header-contenedor">
                <div class="header-table">
                    <h6 class="header-table-title">Actividades Entregadas</h6>
                </div>
            </div>

            <div class="table-actividades-body">

                <div class="registros-actividades" id="registros-actividades-entregadas">
                    <div class="registro-actividad" id="actividades-entregadas-body-mensaje">
                        <h6 id="actividades-entregadas-body-mensaje-text">Cargando...</h6>

                    </div>
                </div>

            </div>

        </div>

        <div class="table-actividades" id="actividades-calificadas">

            <div class="header-contenedor">
                <div class="header-table">
                    <h6 class="header-table-title">Actividades Calificadas</h6>
                </div>
            </div>

            <div class="table-actividades-body">
                <div class="registros-actividades" id="registros-actividades-calificadas">
                    <div class="registro-actividad" id="actividades-calificadas-body-mensaje">
                        <h6 id="actividades-calificadas-body-mensaje-text">Cargando...</h6>
                    </div>
                </div>

            </div>

        </div>

        <div class="table-actividades" id="table-calendario">

            <div class="header-contenedor">
                <div class="header-table">
                    <h6 class="header-table-title">Caldendario de Actividades</h6>
                </div>
            </div>

            <div class="table-actividades-body">

                <div class="registro-actividad">
                    <h6>LUN-MAR-MIE-JUE-VIE</h6>
                </div>

            </div>

        </div>
    </div>

    <script src="/scripts/misActividades.js" type="module"></script>
    <script src="/bjs/bootstrap.bundle.min.js"></script>

</body>

</html>