@font-face {
    font-family: GROBOLD;
    src: url("../assets/fonts/grobold/GROBOLD.ttf");

}
@keyframes float {
	0% {
	
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-18px);
	}
	100% {
	
		transform: translatey(0px);
	}
}
.float-animation{
    animation: float 6s ease-in-out infinite;
}

h5 {
    color: white;
    font-family: GROBOLD;
    font-weight: 500;
    font-size: 3rem;
    text-shadow: 2px 2px 2px black;
    line-height: 1.5;
}

@media (max-width: 479px) {
    h5 {
        font-size: 2rem;
    }
}

a {
    text-decoration: none;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    margin-top: 1rem;
    display: flex;
    justify-content: end;
	
}

.btn-logout {
    width: 109px;
    margin-right: 1rem;
}

.btn-dashboard {
    color: white;
    font-family: GROBOLD;
    font-weight: 500;
    font-size: 32px;
    line-height: 1.5;
    background-image: url("../assets/home/ButtonLIA.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;

    border: none;

    width: 250px;
    height: 120px;
    background-color: transparent;
}

