/*::-webkit-scrollbar {display: none;}*/

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: rgb(0 0 0 / 24%) transparent;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 14px;
}

*::-webkit-scrollbar-track {
    background: #ffffff00;
}

*::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: inset 0 0 0 20px rgb(0 0 0 / 24%);
    border-radius: 10px;
    border: 3px solid transparent;
}


@font-face {
    font-family: GROBOLD;
    src: url("../assets/fonts/grobold/GROBOLD.ttf");

}

@keyframes float {
    0% {

        transform: translatey(0px);
    }

    50% {

        transform: translatey(-18px);
    }

    100% {

        transform: translatey(0px);
    }
}

.float-animation {
    animation: float 6s ease-in-out infinite;
}

h5 {
    color: white;
    font-family: GROBOLD;
    font-weight: 500;
    font-size: 32px;
    text-shadow: 2px 2px 2px black;
    line-height: 1.5;
}

h6 {
    color: white;
    text-align: center;
    font-family: GROBOLD;
    font-weight: 500;
    font-size: 16px;
    text-shadow: 2px 2px 2px black;
    line-height: 1.5;
}

a {
    text-decoration: none;
}

body {
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.btn-actividades {
    display: flex;
    align-items: center;
}

.btn-actividades-img {
    width: 180px;
}


.btn-logout {
    width: 109px;
    margin-right: 1rem;
}

.islas {
    display: flex;
    flex-direction: column;
}

.isla {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.isla-img {
    width: 134px;
}

.user {
    display: block;
    margin-left: 1rem;
}

.user-img {
    height: 30px;
    margin: 0.5rem;
    background-color: rgb(252, 219, 0);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.contenedor {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.avatar {
    width: 96px;
    height: 96px;
    background: #eee7f3;
    border-radius: 50%;
    padding: 8px;
    margin-left: 1rem;

}

.avatar-img {
    border-radius: 50%;
    width: 80px;
    height: 80px;
}


/**********ACTIVIDADES**********/
.table-actividades {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.header-contenedor {
    width: 360px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-table {
    background-image: url("../assets/misActividades/Boton_large.png");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    width: 280px;
    height: 70px;
}

.header-table-title {

    padding-top: 20px;
    font-size: 18px;
    font-weight: 400;
}

.table-actividades-body {
    margin-top: 0.8rem;
    padding: 2.75rem 1rem;
    height: 400px;
    max-height: 400px;
    width: 360px;

    background-image: url("../assets/misActividades/Card.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    border-radius: 20px;


}

.registros-actividades {
    overflow: hidden;
    overflow-y: scroll;
    height: 320px;
    scroll-behavior: smooth;
}

.registro-actividad {
    display: flex;
    justify-content: space-around;
    margin-top: 0.5rem;
    margin-right: 0.5rem;
    margin-left: 0.4rem;
}

.registro-actividad-img {
    width: 50px;
    margin-right: 0.3rem;
}

.registro-actividad-materia {
    height: 55px;
    width: 120px;
    margin-left: 0.4rem;

    background: linear-gradient(0deg, rgba(0,58,131,1) 50%, rgba(0,150,203,1) 100%);
    border-radius: 15px;
   

    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0.5rem;
}

.registro-actividad-materia h6 {
   font-size: 12px;
}